@model Adminestrator
@{
    ViewData["Title"] = "LogIn";
}



<br />
<br />


<div>
    <form method="post" asp-action="ConfirmAdmin" asp-controller="Adminestrator" asp-route-Id = "Id">

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"  />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
  
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>