@model Product
@{
    ViewData["Title"] = "Update";
    ViewBag.Action = "Update";
    ViewBag.Id = Model.Id;
    //SelectList categories = new SelectList(ViewBag.categories, "Id", "Name");
}

<partial name="_UpdateAndNewPartialView" />
@* <div>
    <form method="post" asp-action="Update" asp-controller="Adminestrator">

        <div>
        <input value = "@Model.Id" asp-for="Id" class="form-control" hidden />
        </div>
        <div>
            <label asp-for="Name"></label>
            <br />
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div>
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div>
            <label asp-for="CategoryId"></label>
            <br />
            <select asp-for="CategoryId" asp-items="categories">
            </select>
        </div>

        <br />
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div> *@